<p>Please login with your credentials</p>

<form action="/admin">
  First name:<br>
  <input type="text" name="username" value="admin">
  <br>
  Last name:<br>
  <input type="text" name="password" value="admin">
  <br><br>
  <input type="submit" value="Submit">
</form>


